<div style="width:800px;">
  <div style='width:100%;background-color: grey;height:150px;'>
    <img [src]="faceIcon" style="height:150px; margin-left: 350px;border-radius: 50%; border:3px solid orange" />
    <span style="border:2px solid yellow;margin-left: 350px;background-color: yellow;"> {{Profile.name}} </span>
  </div>

  <div style='width:100%;background-color: white;height:30px;'>

  </div>
  <div style='width:100%;background-color: grey;height:10px'></div>
  <div style="height:25px; text-align: center;">{{name}} Address</div>
  <div style='width:100%;background-color: grey;height:1px'></div>

</div>
<br>
<br>
<table style="width:800px">
  <tr>
    <td style="width:400px">
      <img [src]="profileImg" alt="Profile Icon" style="vertical-align:middle" /> Profile
      <br>
      <p>{{description}}</p>
      <br>
      <img [src]="skillsIcon" alt="Skills Icon" style="vertical-align:middle" /> Skills
      <br>
      <p style='align-content: center;'><b>Technical Skills</b></p>
      <table>
        <tr>
          <td>{{Profile.skillOne.name}}</td>
          <td><progress max="100" [value]="Profile.skillOne.score"></progress></td>
        </tr>
        <tr>
          <td>{{Profile.skillTwo.name}}</td>
          <td><progress max="100" [value]="Profile.skillTwo.score"></progress></td>
        </tr>
        <tr>
          <td>{{Profile.skillThree.name}}</td>
          <td><progress max="100" [value]="Profile.skillThree.score"></progress></td>
        </tr>
        <tr>
          <td>{{Profile.skillFour.name}}</td>
          <td><progress max="100" [value]="Profile.skillFour.score"></progress></td>
        </tr>
      </table>
      <br>
      <p style='align-content: center;'><b>Additional Skills</b></p>
      <table>
        <tr style="width:250px">
          <td>{{addSkills.one.name}}</td>
          <td><progress max="100" [value]="addSkills.one.score"></progress></td>
        </tr>
        <tr>
          <td>{{addSkills.two.name}}</td>
          <td><progress max="100" [value]="addSkills.two.score"></progress></td>
        </tr>
        <tr>
          <td>{{addSkills.three.name}}</td>
          <td><progress max="100" [value]="addSkills.three.score"></progress></td>
        </tr>
        <tr>
          <td>{{addSkills.four.name}}</td>
          <td><progress max="100" [value]="addSkills.four.score"></progress></td>
        </tr>
      </table>
      <br>
      <img src="assets/workIcon.png" alt="Work Icon" style="vertical-align:middle" /> Work Experience
      <ul *ngFor="let item of experience">
        <li>{{item.company}}</li>
        <dd>{{item.description}}</dd>
      </ul>
    </td>
    <td style="vertical-align:top">
      <img src="assets/educationIcon.png" alt="Education Icon" style="vertical-align:middle" /> Education
      <br>
      <ul *ngFor="let item of education">
        <li>{{item.cert}}</li>
        <dd>{{item.description}}</dd>
      </ul>
      <img src="assets/educationIcon.png" alt="Education Icon" style="vertical-align:middle" /> Projects
      <br>
      <ul *ngFor="let item of projects">
        <li>{{item.where}}</li>
        <dd>{{item.description}}</dd>
      </ul>
    </td>
  </tr>
</table>